/***************************************
 * Name: screen.css
 * Media: screens
 * Project: Ashkandari
 * Author: Ben Argo
 * Copyright: Ashkandari Web Services. & Blizzard Entertainment Inc.
 * Version: 4.0
 * Updated: 13 December 2011
 *
 * Swatch Colours:
 * Text ===> #B39265
 * Links ==> #FFA400
 * Hovers => rgba(230, 130, 100, 0.1)
 * 
 * Table of Contents:
 * 1. Imports
 * 2. Inline Styles
 *    2.1. Typography
 *    2.2. Links
 *    2.3. Images
 *    2.4. Tables
 *    2.5. Lists
 *    2.6. Forms
 *    2.7. Tooltips
 *    2.8. Common classes
 * 3. Layout
 *     3.1. Header
 *     3.2. Primary navigation
 *     3.3. Article
 *     3.4. Footer
 ***************************************/

/* 1. Imports */
@charset "UTF-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* 2. Inline Styles */
/* 2.1. Typography */
body {
	background: #B39265 url('../images/theme/body.png') top center repeat-y scroll;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #B39265;
}

p {
	line-height: 1.8em;
	margin: 10px 0;
}

h1, h2 {
	font-family: Times, 'Times New Roman', serif;
	color: #008467;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 2.0em;
	font-weight: bold;
}

h4 {
	font-size: 1.8em;
	font-weight: bold;
}

/* Class Colours */

.warrior {
	color: #C69B6D;
}

.paladin {
	color: #F48CBA;
}

.hunter {
	color: #AAD372;
}

.rogue {
	color: #FFF468;
}

.priest {
	color: #F0EBE0;
}

.dk {
	color: #C41E3B;
}

.shaman {
	color: #2359FF;
}

.mage {
	color: #68CCEF;
}

.warlock {
	color: #9382C9;
}

.druid {
	color: #FF7C0A;
}

a.warrior{
	border-bottom-color: #C69B6D;
}

a.paladin {
	border-bottom-color: #F48CBA;
}

a.hunter {
	border-bottom-color: #AAD372;
}

a.rogue {
	border-bottom-color: #FFF468;
}

a.priest {
	border-bottom-color: #F0EBE0;	
}

a.dk {
	border-bottom-color: #C41E3B;
}

a.shaman {
	border-bottom-color: #2359FF;
}

a.mage {
	border-bottom-color: #68CCEF;
}

a.warlock {
	border-bottom-color: #9382C9;
}

a.druid {
	border-bottom-color: #FF7C0A;
}

/* 2.2. Links */
a {
	color: #FFA400;
	text-decoration: none;
}

article a {
	border-bottom: dotted 1px #FFA400;
}

article a:hover {
	border-bottom-style: solid;
}

article a[href^="http"]:after, article a[href^="http"]:after:hover {
	content: url('../images/theme/external-link-yellow.png')
}

a.noborder {
	border: none;
}

/* 2.3. Images */
article img {
	display: inline-block;
	padding: 5px;
	max-width: 100%;
	vertical-align: middle;
	
	background-color: rgba(230, 130, 100, 0.1);

	border: solid 0px transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

img.noborder {
	padding: 0px;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}

img.icon {
	
	height: 18px;
	width: auto;
	vertical-align: middle;
	
}

article a > img:hover {
	background-color: rgba(230, 130, 100, 0.2);
}

/* 2.4. Tables */
table {
	margin: 0 0 15px;
}

table.fill {
	width: 884px;
}

table.col4 td {
	width: 201px;
	text-align: left;
}

table.col6 td {
	width: 137px;
	text-align: left;
}

table th, table td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	height: 28px;
}

table th {
	font-size: 1.2em;
	padding: 10px 5px;
}

table tr {
	border-bottom: solid 1px #231207;
}

table tr:nth-child(2n+1) {
	background-color: rgba(43, 21, 7, 0.5);
}

table.fill tbody tr:hover {
	background-color: rgba(230, 130, 100, 0.1);
}

table#boards tr th:nth-child(4n+1), table#boards tr td:nth-child(4n+1) {
	text-align: left;
}

table#boards tr:nth-child(4n+1), table#boards tr:nth-child(4n+2) {
	background-color: transparent;
}

table#boards tr:nth-child(4n+3), table#boards tr:nth-child(4n+4) {
	background-color: rgba(43, 21, 7, 0.5);
}

table.tablesorter th.sortable {
	cursor: pointer;
}

table td > select {
	
	width: auto !important;
	margin: 0 auto;
	
}

/* 2.5. Lists */
ul, ol {
	margin-left: 10px;
}

li {
	line-height: 1.8em;
}

ul > li {
	list-style: disc;
}

ol > li {
	list-style: decimal;
}

/* 2.6. Forms */

form {
	display: inline;
}

label {
	display: block;
	width: 100%;
}

p#required {
	text-align: right;
}

p#required:before {
	content: "★ ";
	color: #FFA400;
}

label.required p:after {
	content: " ★";
	color: #FFA400;
}

select, input, textarea, button { font: 1.5em Helvetica, Arial, Verdana, sans-serif; }

textarea {
	line-height: 1.4em;
}
 
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], input.ui-comboxbox-input, textarea {
	display: block;
	border: 1px solid #b1b4a9;
	padding: 6px;
	width: 866px;
}

select {
	margin: 0px;
	display: block;
	border: 1px solid #b1b4a9;
	padding: 6px;
	width: 882px;
}

select[size], textarea, input[type="radio"], input[type="checkbox"] { vertical-align: middle; }
 
label, input[type=button], input[type=submit], button, { cursor: pointer; }

input[type=button], input[type=submit], a.button {
	display: inline-block;
	margin: 0 auto;
	padding: none;
	width: 294px;
	height: 32px;
	line-height: 32px;
	color: #FFA400;
	text-align: center;
	vertical-align: middle;
	font-size: 1.0em;
	border: none;
	
	background: transparent url('../images/theme/form-buttons.png') top left;
}

input[type=button].float.right, input[type=submit].float.right {
	
	margin: 0px;
	padding: 0px;
	
}

input[type=button][disabled=true], input[type=submit][disabled=true], a.button.disabled, input[type=button][disabled=true]:hover, input[type=submit][disabled=true]:hover, a.button.disabled:hover {
	background-position: bottom left;
	color: #8694A1;
}

input[type=button]:hover, input[type=submit]:hover, a.button:hover {
	background-position: center left;
	border: none;
}

input[type=button].text, input[type=submit].text {
	display: inline;
	width: auto;
	height: auto;
	line-height: 1.0em;
	margin: 0;
	padding: 0;
	background: none;
	border-top: none;
	border-right: none;
	border-bottom: dotted 1px #FFA400;
	border-left: none;
}

input[type=button].text:hover, input[type=submit].text:hover {
	border-bottom-style: solid;
}

/* 2.8. Common classes */

.moderator {
	color: #81B558;
}

.moderator img {
	-webkit-box-shadow: 0px 0px 10px 3px #81B558;
	box-shadow: 0px 0px 10px 3px #81B558;
	padding: 0px;
}

.officer, .moderator.officer {
	color: #00B4FF;	
}

.officer img, .moderator.officer img {
	-webkit-box-shadow: 0px 0px 10px 3px #00B4FF;
	box-shadow: 0px 0px 10px 3px #00B4FF;
	padding: 0px;
}

.text.center {
	text-align: center;
}

.text.right {
	text-align: right;
}

.float {
	padding: 10px;
	background: rgba(230, 130, 100, 0.1);
	border: solid 0px transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.float.left {
	float: left;
	margin: 0px 5px 5px 0px;
}

.float.right {
	float: right;
	margin: 0px 0px 5px 5px;
}

.clear, .clear.both {
	clear: both;
}

.clear.left {
	clear: left;
}

.clear.right {
	clear: right;
}

.clear.none {
	clear: none;
}

.jsshow, .display.block {
	display: block;
}

.nojs .jsshow {
	display: none;
}

.jshide {
	display: none;
}

.nojs-show {
	display: none;
}

.nojs .nojs-show {
	display: block;
}

.nojs .nojs-hide {
	display: none;
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/theme/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/theme/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/theme/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/theme/error.png');
}

.decision {
	text-align: center;
}

.decision input {
	display: inline-block;
}

.reply {
	clear: both;
}

.reply .character {
	width: 284px;
	padding: 5px;
	margin: 10px 0;
	float: left;
}

.reply .character .thumb {
	float: left;
	border: none;
	padding: none;
	margin: 0 10px;
}

.reply .character p {
	margin: 0;
}

.reply .character * {
	max-width: 284px;
}

.reply .body {
	width: 580px;
	padding: 5px;
	margin: 0 0 10px;
	float: right;
}

.reply .body .signature {
	
	border-top: solid 1px #B39265;
	margin: 5px 0 0;
	
}

.reply .body * {
	max-width: 580px;
}

/* 3. Layout */
#wrapper-top {
	background: url('../images/theme/wrapper-top.jpg') 50% top no-repeat;
}

#wrapper-bottom {
	background: url('../images/theme/wrapper-bottom.jpg') 50% bottom no-repeat;
	min-height: 1647px;
}

#wrapper {
	width: 1006px;
	margin: 0 auto;
	padding-bottom: 300px;
}

/* 3.1. Header */
#service {
	float: right;
		background-color: #272b2e;
	border: solid 0px #272b2e;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	margin: 0 20px 0 0;
}

#service .service-cell {
	font-size: 11px;
	text-align: right;
	color: #8694A1;
	display: block;
	padding: 10px;
	margin: 0;
}

#service a:hover {
	text-decoration: underline;
}

header {
	padding-top: 65px;
}

a#wowlogo {
	display: block;
	width: 240px; /* 340px */
	height: 17px; /* 145px */
	margin: 0 auto;
	padding: 128px 50px 0;
	visibility: hidden;
}

/* 3.2. Primary Navigation */
nav#primary {
	width: 900px;
	height: 60px;
	margin: 0 auto;
}

#primary ul {
	margin: 0;
}

#primary li, #primary li > a {
	display: inline-block;
	width: 150px;
	height: 60px;
	
	border-bottom: none;

	font-weight: bold;
	line-height: 60px;	
	text-align: center;
	text-transform: uppercase;
	
	text-shadow: 0px 0px 10px #37201a;
	filter: dropshadow(color=#ea8469, offx=0, offy=0)
}

#primary li > a:hover {
	background-color: rgba(230, 130, 100, 0.1);
}

/* 3.3. Article */
#content-wrapper {
	padding-top: 150px;
}

article {
	width: 884px;
	margin: 0 auto;
	padding: 30px 0;
}

ul#breadcrumbs {
	margin: 10px 0;
	width: 884px;
	height: 30px;
}

nav.officer {
	margin: 10px 0;
	padding: 5px;
	background: rgba(230, 130, 100, 0.2);
	border: solid 2px #00B4FF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #B39265;
	-webkit-box-shadow: 0px 0px 10px 3px #00B4FF;
	box-shadow: 0px 0px 10px 3px #00B4FF;
}

nav.officer ul {
	margin: 0;
	text-align: center;
}

nav.officer li {
	display: inline-block;
	border: solid 0px transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

nav.officer a {
	display: inline-block;
	margin: 0 5px;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
	border: none;
}

nav.officer li:hover {
	background-color: rgba(230, 130, 100, 0.3);
}

#breadcrumbs li {
	display: inline-block;
	height: 30px;
	
	line-height: 15px;

}

#breadcrumbs li:before {
	content: "» ";
}

#breadcrumbs li:first-of-type::before {
	content: none;
}

/* 3.4. Footer */
#footer-wrapper {
	padding: 20px 0;
	background: #010A0F;
}

footer {
	width: 1006px;
	margin: 0 auto;
	color: #433A2E;
}

footer a {
	color: #70523D;
	border-bottom: none;
}

footer li {
	display: inline;
}

footer li:before {
	content: "// ";
}

footer a:hover {
	text-decoration: underline;
}

strong, .bold {
	font-weight: 700 !important;
}

em, .italics {
	font-style: italic !important;
}