RewriteEngine on
RewriteBase /

# Make URLs lower
RewriteMap  lc int:tolower
RewriteCond %{REQUEST_URI} [A-Z]
RewriteRule (.*) ${lc:$1} [R=301,L]

RewriteRule ^account/login account/login.php [L,QSA]
RewriteRule ^account/logout account/logout.php [L,QSA]

RewriteRule ^account/register/verify$ account/register/verify.php [L]
RewriteRule ^account/register/activate$ account/register/activate.php [L]

RewriteRule ^account/activate/([0-9]+)/([A-Za-z0-9]+)$ account/activate.php?id=$1&code=$2 [L]

RewriteRule ^account/recover/([0-9]+)/([0-9]+)/(.*)$ account/recover.php?id=$1&timestamp=$2&old_email=$3 [L]

RewriteRule ^account/characters(\/)?$ account/ [R,L]
RewriteRule ^account/characters/set-primary/([0-9]+)$ account/characters/set-primary.php?id=$1 [L]
RewriteRule ^account/characters/claim$ account/characters/claim-post.php [L]
RewriteRule ^account/characters/claim/([0-9]+)$ account/characters/claim-get.php?id=$1 [L]
RewriteRule ^account/characters/verify$ account/characters/claim-verify.php [L]

RewriteRule ^account/password/$ account/ [R,L]
RewriteRule ^account/password/reset$ account/password/reset.php [L]
RewriteRule ^account/password/change$ account/password/change.php [L]

RewriteRule ^account/email/verify$ account/email/verify.php [L]
RewriteRule ^account/email/preferences$ account/email/set-preferences.php [L]

RewriteRule ^account/forums/$ account/forums/signature [R,NC]
RewriteRule ^account/forums/signature$ account/forums/signature.php [L]

RewriteRule ^officers/forums/add$ officers/forums/add.php [L]
RewriteRule ^officers/forums/delete$ officers/forums/delete.php [L]
RewriteRule ^officers/forums/edit$ officers/forums/edit.php [L]

RewriteRule ^epgp(\/)?$ roster/epgp [R]

RewriteRule ^roster/character/(.+)$ roster/character.php?name=$1 [L]
RewriteRule ^roster/race/([a-zA-Z\-]+)$ roster/race.php?slug=$1 [L]
RewriteRule ^roster/class/([a-zA-Z\-]+)$ roster/class.php?slug=$1 [L]
RewriteRule ^roster/rank/([a-zA-Z\-\/]+)$ roster/rank.php?slug=$1 [L]
RewriteRule ^roster/epgp$ roster/epgp.php [L]

RewriteRule ^applications/$ forums/board.php?id=1 [L]
RewriteRule ^applications/([0-9]+)$ forums/application.php?id=$1 [L]

RewriteRule ^rules$ rules/ [R]
RewriteRule ^forums/thread/12$ rules/ [R]
RewriteRule ^rules/$ forums/thread/view.php?id=12 [L]

RewriteRule ^forums/1$ applications/ [R]
RewriteRule ^forums/([0-9]+)$ forums/board.php?id=$1 [L]
RewriteRule ^forums/thread/([0-9]+)$ forums/thread/view.php?id=$1 [L]

RewriteRule ^forums/new$ forums/thread/new.php [L]
RewriteRule ^forums/lock$ forums/thread/lock.php [L]
RewriteRule ^forums/sticky$ forums/thread/sticky.php [L]

RewriteRule ^forums/reply$ forums/post/reply.php [L]
RewriteRule ^forums/edit$ forums/post/edit.php [L]
RewriteRule ^forums/delete$ forums/post/delete.php [L]

RewriteRule ^teamspeak/connect$ teamspeak/connect.php [L]
RewriteRule ^teamspeak/bookmark$ teamspeak/bookmark.php [L]
RewriteRule ^teamspeak/donate$ teamspeak/donate.php [L]

RewriteRule ^apply/verify$ apply/verify.php [L]
RewriteRule ^apply/finish$ apply/finish.php [L]

RewriteRule ^legal/privacy$ legal/privacy.php [L]
RewriteRule ^legal/terms$ legal/terms-and-conditions.php [L]
RewriteRule ^legal/battlenet$ legal/battlenet.php [L]

ExpiresActive On
ExpiresByType image/gif A2592000
ExpiresByType image/jpeg A2592000
ExpiresByType image/jpg A2592000
ExpiresByType image/png A2592000
ExpiresByType image/x-icon A2592000
ExpiresByType text/css A86400
ExpiresByType text/javascript A86400
ExpiresByType application/x-shockwave-flash A2592000

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>