RewriteEngine on
RewriteBase /

RewriteRule ^account/login account/login.php [NC,L,QSA]
RewriteRule ^account/logout account/logout.php [NC,L,QSA]

RewriteRule ^account/register/verify$ account/register/verify.php [NC,L]
RewriteRule ^account/register/activate$ account/register/activate.php [NC,L]

RewriteRule ^account/activate/([0-9]+)/([A-Za-z0-9]+)$ account/activate.php?id=$1&code=$2 [L]

RewriteRule ^account/recover/([0-9]+)/([0-9]+)/(.*)$ account/recover.php?id=$1&timestamp=$2&old_email=$3 [L]

RewriteRule ^account/characters(\/)?$ account/ [NC,R,L]
RewriteRule ^account/characters/set-primary/([0-9]+)$ account/characters/set-primary.php?id=$1 [NC,L]
RewriteRule ^account/characters/claim$ account/characters/claim-post.php [NC,L]
RewriteRule ^account/characters/claim/([0-9]+)$ account/characters/claim-get.php?id=$1 [NC,L]
RewriteRule ^account/characters/verify$ account/characters/claim-verify.php [NC,L]

RewriteRule ^account/password/$ account/ [NC,R,L]
RewriteRule ^account/password/reset$ account/password/reset.php [NC,L]
RewriteRule ^account/password/change$ account/password/change.php [NC,L]

RewriteRule ^account/email/verify$ account/email/verify.php [NC,L]
RewriteRule ^account/email/preferences$ account/email/set-preferences.php [NC,L]

RewriteRule ^account/forums/$ account/forums/signature [R,NC]
RewriteRule ^account/forums/signature$ account/forums/signature.php [NC,L]

RewriteRule ^officers/applications/(undecided|accepted|declined)$ officers/applications/index.php?decision=$1 [NC,L]

RewriteRule ^officers/forums/add/$ officers/forums/add [NC,R]
RewriteRule ^officers/forums/add$ officers/forums/add.php [NC,L] 
RewriteRule ^officers/forums/edit/([0-9]+)$ officers/forums/edit.php?id=$1 [NC,L]
RewriteRule ^officers/forums/delete/([0-9]+)$ officers/forums/delete.php?id=$1 [NC,L]

RewriteRule ^roster/character/(.+)$ roster/character.php?name=$1 [NC,L]
RewriteRule ^roster/race/([a-zA-Z\-]+)$ roster/race.php?slug=$1 [NC,L]
RewriteRule ^roster/class/([a-zA-Z\-]+)$ roster/class.php?slug=$1 [NC,L]
RewriteRule ^roster/rank/([a-zA-Z\-\/]+)$ roster/rank.php?slug=$1 [NC,L]

RewriteRule ^forums/1$ applications/ [NC,R]
RewriteRule ^forums/([0-9]+)$ forums/board.php?id=$1 [NC,L]
RewriteRule ^forums/thread/([0-9]+)$ forums/thread/view.php?id=$1 [NC,L]

RewriteRule ^applications/$ forums/board.php?id=1 [NC,L]
RewriteRule ^applications/([0-9]+)$ forums/application.php?id=$1 [NC,L]

RewriteRule ^forums/new$ forums/thread/new.php [NC,L]
RewriteRule ^forums/lock$ forums/thread/lock.php [NC,L]
RewriteRule ^forums/sticky$ forums/thread/sticky.php [NC,L]

RewriteRule ^forums/reply$ forums/post/reply.php [NC,L]
RewriteRule ^forums/edit$ forums/post/edit.php [NC,L]
RewriteRule ^forums/delete$ forums/post/delete.php [NC,L]

RewriteRule ^teamspeak$ teamspeak/ [NC,R]
RewriteRule ^teamspeak/$ teamspeak.php [NC,L]

RewriteRule ^apply/verify$ apply/verify.php [NC,L]
RewriteRule ^apply/finish$ apply/finish.php [NC,L]
